.content {
	background-color: #f5f6ef;
}

.exhibition-logo {
	width: 100%;
}

.main {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.main p:nth-child(2n-1) {
	font-size: 16px;
	font-weight: bold;
}

.main p:nth-child(2n) {
	font-size: 14px;
	text-indent: 28px;
	line-height: 150%;
}

.main>div {
	display: flex;
}

.main>div>div {
	display: inline-block;
}

.img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.menu1::before, .menu2::before, .menu3::before {
	content: "> ";
	color: red;
}

.menu1:hover, .menu2:hover, .menu3:hover {
	color: #0ff;
}

.menu1, .menu2, .menu3 {
	position: relative;
	background-color: #f3efd2;
	border-bottom: 1px solid #9c8f7e;
	line-height: 200%;
	cursor: pointer;
	text-align: left;
}

.menu2 {
	padding-left: 24px;
}

.menu3 {
	padding-left: 48px;
}

#menu {
	width: 220px;
}