<style>
	.search-body {
		background-color: rgba(0, 0, 0, 0);
	}

	.search-input {
		width: 200px;
		height: 20px;
		border: solid #ffd672 1px;
	}

	.search-button {
		width: 50px;
		height: 22px;
		background-color: #e8be58;
		color: #ffffff;
		border: 0;
	}
</style>

<form method="get" class="search-body">
	<input class="search-input" name="k" placeholder="在这里搜索..." />
	<button class="search-button">搜 索</button>
	<script>
		let $input = document.getElementsByTagName("input")[0];
		const value = $input.placeholder
		$input.onfocus = function () {
			if (this.value == value) {
				this.value = '';
			}
		};
		$input.onblur = function () {
			if (this.value == '') {
				this.value = value;
			}
		};
	</script>
</form>