.l {
	float: left;
}

.fnav_xs {
	width: 260px;
	height: 480px;
	padding-top: 110px;
	padding-left: 10px;
	background: url(http://www.luxunmuseum.com.cn/template/default/images/bg_fnav_xs.jpg) no-repeat;
}

.fnav_xs li {
	padding-top: 20px;
	padding-bottom: 20px;
}

.fnav_xs li a {
	font-size: 15px;
	color: #322f29;
	text-decoration: none;
	background: url(http://www.luxunmuseum.com.cn/template/default/images/icon01.jpg) no-repeat left center;
	display: block;
	padding-left: 28px;
}

.fnav_xs li a:hover {
	color: #ce0202;
}